<html>
    <head>
        <link rel="stylesheet" href="cp/css/style.css">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <title>ivodb - User Command Center</title>
    </head>
    <body>
        <p class="disclaimer">
            <b>About:</b> ivodb is a work in progress by <a href="https://github.com/ivaivalous">Ivaylo Marinkov</a>. There isn't much to see just yet.
        </p>

        <h1>New Resource</h1>

        <form id="create-resource">
          <label for="name">Name:</label>
          <input id="name" />
          <br />
          
          <label for="path">Path:</label>
          <input id="path" />
          <br />

          <label for="headers">Headers (as a JS map):</label>
          <textarea id="headers"></textarea>
          <br />
          
          <label>Body:</label>
          <textarea id="body" class="request-body"></textarea>
          <br />

          <button id="submit-resource" />Create</button>
        </form>

        <h1>Your Resources</h1>

        <div class="resources-list">
          <ul class="flat" id="resources">
          {% for res in resources %}
            <li>
              <a href="/u/{{user_name}}/{{res['path']}}" target="_blank">{{res['name']}}</a>
              <span class="action" id="edit-{{res['_id']}}" title="Edit">e</span>

              {% if res['published'] %}
              <span class="action" id="deactivate-{{res['_id']}}" title="Deactivate">d</span>
              {% endif %}
              {% if not res['published'] %}
              <span class="action" id="activate-{{res['_id']}}" title="Activate">a</span>
              {% endif %}

              <span class="action" id="delete-{{res['_id']}}" title="Delete">x</span>

              <div class="resource-info" id="resource-info-{{res['_id']}}">
                  <input type="hidden" name="name" value="{{res['name']}}" />
                  <input type="hidden" name="path" value="{{res['path']}}" />
                  <input type="hidden" name="body" value="{{res['body']}}" />
                  <input type="hidden" name="headers" value="{{res['headers']}}" />
              </div>
            </li>
          {% endfor %}
          </ul>
        </div>

        <script type="text/javascript" src="cp/js/user.js"></script>
    </body>
</html>