@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #4D4D50;
  color: #FFF;
}

label {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
  margin: 8px;
}

.disclaimer {
  padding: 6px;
  background-color: #343436;
  border-radius: 2px;
}

input, textarea {
  background-color: #343436;
  color: #FFF;
  padding: 14px;
  margin: 8px;
  border: none;
  border-radius: 2px;
}

textarea.request-body {
  height: 400px;
}

@media screen and (min-width: 768px) {
    input, textarea {
        width: 800px;
    }

    label {
        width: 80px;
    }

    .actions {
      display: inline-block;
    }
}

@media screen and (max-width: 767px) {
    h1 {
      text-align: center;
    }

    input, textarea, button {
        width: 95%;
    }

    label {
      display: block;
    }

    ul.flat {
      text-align: center;
      padding: 0px;
    }

    ul.flat li {
      font-size: 1.4em;
    }

    .action {
      padding: 4px 16px 2px 16px;
    }

    .actions {
      display: block;
    }

    ul.flat li {
      display: block;
      width: 90%;
      margin: auto;
      text-align: left;
    }
}

button {
  background-color: #3F693F;
  color: #FFF;
  border: none;
  border-radius: 2px;
  padding: 14px;
  margin: 8px;
}

button:hover {
  background-color: #6AAF6A;
}

ul.flat {
  list-style: none;
}

ul.flat li {
  display: inline-block;
  padding: 6px;
  margin-top: 10px;
  border-radius: 2px;
  background-color: #343436;
}

ul.flat li a {
  color: #FFF;
  text-decoration: none;
}

.actions {
  border-radius: 2px;
  padding: 2px 2px 0px 2px;
  background-color: #4D4D50;
  vertical-align: middle;
  text-align: center;
}

.action {
  cursor: pointer;
  padding: 0px 8px;
}

.resource-info {
  display: none;
}

a {
  color: #fff;
}